@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
  gap: 20px;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.container .header .logo {
  width: 100px;
}
.container .header h1 {
  margin-top: 20px;
  font-weight: 600;
  color: #E45A22;
  font-size: 46px;
}
.container .header h1 span {
  font-size: 14px;
  color: #2FC12D;
}
.container .wrapper {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}
.container .wrapper form hr {
  margin: 20px 0;
}
.container .wrapper form .pdfContainer {
  display: flex;
  flex-direction: column;
}
.container .wrapper form .pdfContainer .mainDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .wrapper form .pdfContainer .mainDetails .topIndi,
.container .wrapper form .pdfContainer .mainDetails .bottomIndi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container .wrapper form .pdfContainer .mainDetails .indiDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .wrapper form .pdfContainer .mainDetails .indiDetails label {
  font-weight: 600;
  font-size: 16px;
}
.container .wrapper form .pdfContainer .mainDetails .indiDetails input {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .mainDetails .indiDetails select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .ed-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed {
  display: flex;
  justify-content: space-between;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .degree {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .degree .iti {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .degree .iti select {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .stream,
.container .wrapper form .pdfContainer .ed-details .innder_ed .year {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .stream input,
.container .wrapper form .pdfContainer .ed-details .innder_ed .year input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .ed-details .innder_ed .stream select {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .langs-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner {
  display: flex;
  justify-content: space-between;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner .langs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner .langs .other_lang {
  display: flex;
  gap: 20px;
  align-items: center;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner .langs .other_lang input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner .read,
.container .wrapper form .pdfContainer .langs-details .langs_inner .write,
.container .wrapper form .pdfContainer .langs-details .langs_inner .speak {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container .wrapper form .pdfContainer .langs-details .langs_inner .read select,
.container .wrapper form .pdfContainer .langs-details .langs_inner .write select,
.container .wrapper form .pdfContainer .langs-details .langs_inner .speak select {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .employeer-details {
  display: flex;
  flex-direction: column;
}
.container .wrapper form .pdfContainer .employeer-details .employeer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container .wrapper form .pdfContainer .employeer-details .employeer .top {
  display: flex;
  justify-content: space-between;
}
.container .wrapper form .pdfContainer .employeer-details .employeer .top .emp,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .from,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .to,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .posi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.container .wrapper form .pdfContainer .employeer-details .employeer .top .emp input,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .from input,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .to input,
.container .wrapper form .pdfContainer .employeer-details .employeer .top .posi input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .employeer-details .employeer .bottom {
  display: flex;
  gap: 20px;
  align-items: center;
}
.container .wrapper form .pdfContainer .employeer-details .employeer .bottom input {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
}
.container .wrapper form .pdfContainer .certify p {
  font-size: 14px;
}
.container .wrapper form .pdfContainer .certify p span {
  font-weight: 600;
}
.container .wrapper form .uploadContainer {
  display: flex;
  gap: 10px;
}
.container .wrapper form .uploadContainer label {
  font-weight: 600;
}
.container .wrapper form button {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #E45A22;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .wrapper form button:hover {
  background: #2FC12D;
  color: white;
  border: 1px solid #2FC12D;
}

@media screen and (width <= 440px) {
  .container .header {
    flex-direction: column;
    gap: 0 !important;
  }
  .wrapper {
    width: 80% !important;
    font-size: 14px;
  }
  .container .wrapper form .pdfContainer .ed-details .innder_ed {
    overflow-x: scroll;
    gap: 20px !important;
  }
  .container .wrapper form .pdfContainer .langs-details .langs_inner {
    overflow-x: scroll;
    gap: 20px !important;
  }
  .container .wrapper form .pdfContainer .employeer-details .employeer .top {
    overflow-x: scroll;
    gap: 20px !important;
  }
  .container .wrapper form .uploadContainer {
    flex-direction: column;
  }
  .container .wrapper form .pdfContainer .mainDetails .indiDetails label {
    font-size: 14px !important;
  }
  .container .wrapper form .pdfContainer .mainDetails .indiDetails input {
    width: 90% !important;
  }
  .container .wrapper form .pdfContainer .mainDetails .topIndi,
  .container .wrapper form .pdfContainer .mainDetails .bottomIndi {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}/*# sourceMappingURL=form.css.map */